/*-- scss:rules --*/
/* Estiliza a marca/nome na barra de navegação */
.navbar-brand {
  background: url('logo.png'); /* Define uma imagem de fundo como logo */
  background-size: contain; /* Redimensiona a imagem para caber no espaço */
  padding-right: 5px !important; /* Espaçamento à direita */
  padding-left: 120px !important; /* Espaçamento à esquerda */
  background-repeat: no-repeat; /* Impede a repetição da imagem */
  color: #fff; /* Define a cor do texto como branca */
}

/*-- scss:defaults --*/
/* Define o tamanho da fonte para elementos principais e parágrafos */
main, p {
  font-size: 1.1rem !important; /* Tamanho da fonte de 1.1rem */
}

/* Estiliza o corpo de um elemento callout com estilo padrão */
.callout.callout-style-default .callout-body {
  font-size: 1.2rem; /* Tamanho da fonte de 1.2rem */
  font-weight: 400; /* Peso da fonte regular */
}

/* Define variáveis CSS globais */
:root {
  --bs-gray-dark: #343a40; /* Cor cinza escura */
  --bs-primary: #eb6864; /* Cor primária */
  --bs-blue: #007bff; /* Defina a cor azul para links */
}

/* Estiliza imagens em posts */
div.quarto-post .thumbnail img {
  width: 100%; /* Largura de 100% do contêiner */
  object-fit: contain; /* Ajusta a imagem para caber dentro do contêiner */
  max-height: 150px; /* Altura máxima de 150px */
}

/* Define a fonte para categorias de listagem */
.quarto-listing-category.category-cloud {
  font-family: 'Roboto'; /* Fonte Roboto */
}

/* Estiliza diferentes níveis de categorias de listagem com cores e bordas */
.quarto-listing-category.category-cloud .category-cloud-10 {
  background: #FFE5E5; /* Fundo vermelho-rosado claro */
  border-radius: 10%; /* Bordas arredondadas */
}

.quarto-listing-category.category-cloud .category-cloud-9 {
  background: #FFB266; /* Fundo laranja claro */
  border-radius: 10%; /* Bordas arredondadas */
}

.quarto-listing-category.category-cloud .category-cloud-8 {
  background: #FFE066; /* Fundo amarelo claro */
  border-radius: 10%; /* Bordas arredondadas */
}

.quarto-listing-category.category-cloud .category-cloud-7 {
  background: #CCFF99; /* Fundo verde-limão claro */
  border-radius: 10%; /* Bordas arredondadas */
}

.quarto-listing-category.category-cloud .category-cloud-6 {
  background: #99FF99; /* Fundo verde claro */
  border-radius: 10%; /* Bordas arredondadas */
}

.quarto-listing-category.category-cloud .category-cloud-5 {
  background: #DDFFFF; /* Fundo ciano claro */
  border-radius: 10%; /* Bordas arredondadas */
}

.quarto-listing-category.category-cloud .category-cloud-4 {
  background: #FFE5F2; /* Fundo azul claro */
  border-radius: 10%; /* Bordas arredondadas */
}

.quarto-listing-category.category-cloud .category-cloud-3 {
  background: #CC99FF; /* Fundo roxo claro */
  border-radius: 10%; /* Bordas arredondadas */
}

.quarto-listing-category.category-cloud .category-cloud-2 {
  background: #99CCFF; /* Fundo rosa claro */
  border-radius: 10%; /* Bordas arredondadas */
}

.quarto-listing-category.category-cloud .category-cloud-1 {
  background: #FFE5E5; /* Fundo vermelho claro */
  border-radius: 10%; /* Bordas arredondadas */
}

/* Estiliza links de paginação */
.page-link {
  color: var(--bs-blue); /* Cor azul */
}

.page-link:hover {
  z-index: 2; /* Coloca o link acima de outros elementos */
  color: #fff; /* Cor branca no hover */
  background-color: var(--bs-blue); /* Fundo azul no hover */
  border-color: var(--bs-blue); /* Borda azul no hover */
}

/* Estiliza todos os links */
a {
  color: var(--bs-blue); /* Cor azul */
}

/* Estiliza texto em negrito */
b, strong {
  color: var(--bs-blue); /* Cor azul */
  font-weight: bolder; /* Peso da fonte mais forte */
}

/* Estiliza categorias de listagem em posts */
div.quarto-post .listing-categories .listing-category {
  color: var(--bs-blue); /* Cor azul */
  border: solid 1px var(--bs-gray-400); /* Borda cinza */
  font-size: .8em; /* Tamanho da fonte menor */
}

/* Estiliza botões primários */
.btn-primary {
  color: #fff; /* Cor do texto branca */
  background-color: var(--bs-blue); /* Fundo azul */
  border-color: var(--bs-blue); /* Borda azul */
}

/* Estiliza links ativos na barra lateral */
.sidebar nav[role=doc-toc] ul>li>a.active {
  border-left: 1px solid var(--bs-green); /* Borda esquerda azul */
  color: var(--bs-green) !important; /* Cor azul */
}

.sidebar nav[role=doc-toc] ul>li>ul>li>a.active {
  border-left: 1px solid var(--bs-green); /* Borda esquerda azul */
  color: var(--bs-green) !important; /* Cor azul */
}

/* Estiliza links na seção "about" ao passar o mouse */
div.quarto-about-trestles .about-entity .about-link:hover {
  color: var(--bs-blue); /* Cor azul no hover */
}

/* Estiliza links de navegação ao passar o mouse ou focar */
.nav-link:hover, .nav-link:focus {
  color: var(--bs-blue); /* Cor azul no hover ou foco */
}

/* Estiliza alertas primários */
.alert-primary {
  color: var(--bs-gray-dark); /* Cor do texto cinza escura */
  background-color: var(--bs-body-bg); /* Fundo com cor do corpo */
  border-color: var(--bs-blue); /* Borda azul */
  border-style: dashed; /* Estilo da borda tracejada */
}

/* Estiliza links de navegação */
.nav-link {
  color: var(--bs-white); /* Cor branca */
}

/* Estiliza botões primários ao passar o mouse */
.btn-primary:hover {
  color: #000; /* Cor do texto preta */
  background-color: #f0f1ff; /* Fundo azul claro */
  border-color: #f0f1ff; /* Borda azul claro */
  padding: .375rem .75rem; /* Espaçamento interno */
  font-size: 1.1rem !important; /* Tamanho da fonte maior */
  margin-top: -9px; /* Margem superior negativa */
}

/* Estiliza botões primários */
.btn-primary {
  padding: .375rem .75rem; /* Espaçamento interno */
  font-size: 1.1rem !important; /* Tamanho da fonte maior */
  margin-top: -9px; /* Margem superior negativa */
}

/* Estiliza o rodapé */
.quarto-footer {
  font-size: 0.5px !important; /* Tamanho da fonte muito pequeno */
}


