/*-- scss:rules --*/
/* Estiliza a marca/nome na barra de navegação */
.navbar-brand {
  background: url('logo.png'); /* Define uma imagem de fundo como logo */
  background-size: contain; /* Redimensiona a imagem para caber no espaço */
  padding-right: 2px !important; /* Define um espaçamento à direita de 2px, usando !important para sobrepor outras regras */
  padding-left: 105px !important; /* Define um espaçamento à esquerda de 105px, usando !important para sobrepor outras regras */
  background-repeat: no-repeat; /* Impede a repetição da imagem de fundo */
  color: #fff; /* Define a cor do texto como branca */
}

/*-- scss:defaults --*/
/* Define o tamanho da fonte para elementos principais e parágrafos */
main, p {
  font-size: 1.1rem !important; /* Define o tamanho da fonte como 1.1rem, usando !important para sobrepor outras regras */
}

/* Estiliza o corpo de um elemento callout com estilo padrão */
.callout.callout-style-default .callout-body {
  font-size: 1.2rem; /* Define o tamanho da fonte como 1.2rem */
  font-weight: 400; /* Define o peso da fonte como 400 (normal) */
}

/* Define variáveis CSS globais */
:root {
  --bs-gray-dark: #343a40; /* Define a cor cinza escura como variável global */
  --bs-primary: #eb6864; /* Define a cor primária como variável global */
  --bs-blue: #000; /* Define a cor azul como variável global */
}

/* Estiliza imagens em posts */
div.quarto-post .thumbnail img {
  width: 100%; /* Define a largura da imagem como 100% do contêiner */
  object-fit: contain; /* Ajusta a imagem para caber dentro do contêiner sem distorção */
  max-height: 150px; /* Define a altura máxima da imagem como 150px */
}


/* Centraliza as categorias */
.quarto-listing-category.category-cloud {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto'; /* Define a fonte como Roboto */
}

/* Estiliza diferentes níveis de categorias de listagem com cores e bordas */
.quarto-listing-category.category-cloud .category-cloud-10 {
  background: #2F4F4F; /* Cinza ardósia escuro */
  border-radius: 10%;
  color: white;
  transition: transform 0.2s; /* Adiciona transição suave */
}

.quarto-listing-category.category-cloud .category-cloud-9 {
  background: #556B2F; /* Verde oliva escuro */
  border-radius: 10%;
  color: white;
  transition: transform 0.2s; /* Adiciona transição suave */
}

.quarto-listing-category.category-cloud .category-cloud-8 {
  background: #6B8E23; /* Verde oliva */
  border-radius: 10%;
  color: white;
  transition: transform 0.2s; /* Adiciona transição suave */
}

.quarto-listing-category.category-cloud .category-cloud-7 {
  background: #8B4513; /* Marrom sela */
  border-radius: 10%;
  color: white;
  transition: transform 0.2s; /* Adiciona transição suave */
}

.quarto-listing-category.category-cloud .category-cloud-6 {
  background: #2F4F4F; /* Cinza ardósia escuro */
  border-radius: 10%;
  color: white;
  transition: transform 0.2s; /* Adiciona transição suave */
}

.quarto-listing-category.category-cloud .category-cloud-5 {
  background: #fca311; /* Laranja escuro */
  border-radius: 10%;
  color: white;
  transition: transform 0.2s; /* Adiciona transição suave */
}

.quarto-listing-category.category-cloud .category-cloud-4 {
  background: #5b96fa; /* Azul cadete */
  border-radius: 10%;
  color: white;
  transition: transform 0.2s; /* Adiciona transição suave */
}

.quarto-listing-category.category-cloud .category-cloud-3 {
  background: #8B008B; /* Roxo escuro */
  border-radius: 10%;
  color: white;
  transition: transform 0.2s; /* Adiciona transição suave */
}

.quarto-listing-category.category-cloud .category-cloud-2 {
  background: #8B4513; /* Marrom sela */
  border-radius: 10%;
  color: white;
  transition: transform 0.2s; /* Adiciona transição suave */
}

.quarto-listing-category.category-cloud .category-cloud-1 {
  background: #343a40; /* Cinza ardósia escuro */
  border-radius: 10%;
  color: white;
  transition: transform 0.8s; /* Adiciona transição suave */
}



/* Define a fonte para categorias de listagem */
.quarto-listing-category.category-cloud {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto'; /* Define a fonte como Roboto */
}



/* Estiliza links de paginação */
.page-link {
  color: var(--bs-blue); /* Define a cor do texto como a variável global azul */
}

.page-link:hover {
  z-index: 2; /* Define a posição do elemento acima de outros elementos */
  color: #fff; /* Define a cor do texto como branca ao passar o mouse */
  background-color: var(--bs-blue); /* Define a cor de fundo como a variável global azul ao passar o mouse */
  border-color: var(--bs-blue); /* Define a cor da borda como a variável global azul ao passar o mouse */
}

/* Estiliza todos os links */
a {
  color: var(--bs-blue); /* Define a cor do texto como a variável global azul */
}

a:hover {
  text-decoration: underline; /* Adiciona sublinhado ao texto ao passar o mouse */
}

/* Remove sublinhado ao passar o mouse sobre o título da navbar */
a.navbar-brand, .navbar-title a:hover {
  text-decoration: none; /* Remove o sublinhado */
}

/* Estiliza texto em negrito */
b, strong {
  color: var(--bs-blue); /* Define a cor do texto como a variável global azul */
  font-weight: bolder; /* Define o peso da fonte como mais forte */
}

/* Estiliza categorias de listagem em posts */
div.quarto-post .listing-categories .listing-category {
  color: var(--bs-blue); /* Define a cor do texto como a variável global azul */
  border: solid 1px var(--bs-gray-400); /* Define a borda como uma linha sólida cinza */
  font-size: .8em; /* Define o tamanho da fonte como 0.8em */
}

/* Estiliza botões primários */
.btn-primary {
  color: #fff; /* Define a cor do texto como branca */
  background-color: var(--bs-blue); /* Define a cor de fundo como a variável global azul */
  border-color: var(--bs-blue); /* Define a cor da borda como a variável global azul */
  padding: .375rem .75rem; /* Define o espaçamento interno do botão */
  font-size: 1.1rem !important; /* Define o tamanho da fonte do botão, usando !important para sobrepor outras regras */
  margin-top: -9px; /* Define uma margem superior negativa */
}

/* Estiliza botões primários ao passar o mouse */
.btn-primary:hover {
  color: #000; /* Define a cor do texto como preta ao passar o mouse */
  background-color: #f0f1ff; /* Define a cor de fundo como azul claro ao passar o mouse */
  border-color: #f0f1ff; /* Define a cor da borda como azul claro ao passar o mouse */
}

/* Estiliza links ativos na barra lateral */
.sidebar nav[role=doc-toc] ul>li>a.active {
  border-left: 1px solid var(--bs-blue); /* Define uma borda esquerda azul */
  color: var(--bs-blue) !important; /* Define a cor do texto como azul, usando !important para sobrepor outras regras */
}

.sidebar nav[role=doc-toc] ul>li>ul>li>a.active {
  border-left: 1px solid var(--bs-blue); /* Define uma borda esquerda azul */
  color: var(--bs-blue) !important; /* Define a cor do texto como azul, usando !important para sobrepor outras regras */
}

/* Estiliza links na seção "about" ao passar o mouse */
div.quarto-about-trestles .about-entity .about-link:hover {
  color: var(--bs-blue); /* Define a cor do texto como azul ao passar o mouse */
}

/* Estiliza links de navegação ao passar o mouse ou focar */
.nav-link:hover, .nav-link:focus {
  color: var(--bs-blue); /* Define a cor do texto como azul ao passar o mouse ou focar */
}

/* Estiliza alertas primários */
.alert-primary {
  color: var(--bs-gray-dark); /* Define a cor do texto como cinza escuro */
  background-color: var(--bs-body-bg); /* Define a cor de fundo como a cor de fundo do corpo */
  border-color: var(--bs-blue); /* Define a cor da borda como azul */
  border-style: dashed; /* Define o estilo da borda como tracejada */
}

/* Estiliza links de navegação */
.nav-link {
  color: var(--bs-white); /* Define a cor do texto como branca */
}

/* Estiliza o rodapé */


footer {
/*  padding: 0px; /* Espaçamento interno */
    text-align: center; /* Alinhar texto ao centro */
/*     position: fixed; /* Fixar o rodapé na parte inferior da página */
    width: 100%; /* Largura total */
    height:2%; /* Largura total */
    bottom: 0; /* Alinhar ao fundo */
}



/* Define variáveis de cor (não utilizadas no código fornecido) */
$link-color: #000000;
$code-color: #000000;

/* Estiliza um player de vídeo */
.video-player {
  position: relative; /* Define a posição como relativa */
  overflow: hidden; /* Esconde o conteúdo que ultrapassar o contêiner */
  width: 100%; /* Define a largura como 100% do contêiner pai */
  padding-top: 56.25%; /* Define o padding superior para manter a proporção 16:9 */
}

/* Estiliza o iframe para ajustar-se ao contêiner de vídeo */
.youtube-player {
  position: absolute; /* Define a posição como absoluta para preencher o contêiner */
  top: 0; /* Define a posição no topo */
  left: 0; /* Define a posição na esquerda */
  bottom: 0; /* Define a posição no fundo */
  right: 0; /* Define a posição na direita */
  width: 100%; /* Define a largura como 100% do contêiner */
  height: 100%; /* Define a altura como 100% do contêiner */
}
$link-color: #000000;

$code-color: #000000;
